exec permissions.cfg
# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#--------Core-----------------
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
#------WIP---------------------
#start scoreboard
#start rp
#start menu
#start radar
#start synn-loadscreen
#start restart
#start CalmAI
#---------OFF-------------------
start paletopolicemap
start sandysheriff
start sandytowyard
#start playernames
start replyreport
#start afkkick
start playerblip


#---------Scripts--------------
#start lambda#
start fax-scoreboard
start watermark
start simplewelcome
start steamauth
#start blacklist
start commands
start disabledispatch
start lux_vehcontrol
start DiscordBot
start servercommands
#start vBasic#
start vSync - vMenu handles weather.#
start fingerpoint
start disableseatshuffle
start pingkick
#start radar#
start panhandle
start cooldown
start title
start frfuel
start ObjectSpawner
#start gps
#start shotsfired
start ShowID
#-------just added------
start zload
start RealAITraffic
start drag
start antipedattach
start hypr9stun-master
#start engine
start streetLabel
start jailer
start carhud
start areaofplay
start delgun
start rptoolbox
start vehTowing
start helpmessage
start vhelp
start black
set vMenuToggleMenuKey 288
start vMenu
start pvp
start banip
#start vVoice#
start misc
start wraith_alpr
start ToastysCruiseControl #Toggle F7#
start saw #NOFD Fire Saw
start 3dme #/ME draws text in 3d above head
#start NativeUI 
start EasyAdmin
start onduty
start hlabels
start crouch
#start blackout
start AAHU
start handsup
start paleto
start SSA
#start ssforest
#start sandyalive
start chud
start EveryoneIgnore
#start sandyfirestation
#start firescript
start sandyair
#----------Uniforms-------------
start gangcop
start uniforms
start defaultskin
start uscg
#-----------Vehicles------------
start ScentralsCivilianPack   #belair,titan17,teslax,g65amg
start ScentralsLSPQRV   #qrv(FPIU)
start ScentralsPolicePack   #police (Charger),Police3 (FPIS)
start SFBC #SFBC1,SFBC2, SFBC3 (FPIU,CHARGER,TAHOE)
start ScentralsSheriffPack #sheriff,sheriff2 (CVPI,UTAHOE)
start ScentralsPortPack #portpd1,portpd2 (SILVERADO,COMMUNITY PD)
start owneradmin #F350
start Tower5 #LadderTruck
start 2015polstang #POLICEMUSTANG
start FIREEXP #NOFDFPIU
start Med-05-F450 #NOEMS AMBO
start Med-05-International #NOEMS HEAVYAMBO
start polmav #LAPD STYLE HELO
start Engine5
start barecat
start vannn
start Cars20
start maverick
start LiamCar
#start mh65c
start newthings
start CGThings
start driftcomplex
start NewsCam
start avalfire
#start squad-5 #Replacement ambulance
#start lspbike
start uscgvehicles 
start LitKit1
start LitKit2
start LitKit3
start Cars52
start dsflatbed
start tow
start yeet12
start bounty
#start firecharger
#------------Weapons------------
start assets 






sv_scriptHookAllowed 0

# change this
rcon_password studxp05STUDXP@#

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "rp, cops, leo, menu, custom, doj, DOJ, loss"

# set an optional server info and connecting banner image url.
# size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://s15.postimg.cc/de0azrlhn/image.png"
#sets banner_connecting "https://s15.postimg.cc/de0azrlhn/image.png"
sets banner_connecting "https://s15.postimg.cc/jhdvnn257/4123.png"

sv_hostname "^4LossRP | ^7ANYONE ^4CAN BE ^8POLICE ^5JUST DO /onduty | ^3discord.gg/PKqzmxZ ^4| ^1ADD-ON ^7CARS ^4SPAWN CODES IN DISCORD|

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon image.png

# convars for use from script
set temp_convar "hey world!"
set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "167"			# set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "https://discordapp.com/api/webhooks/479353896054030348/VB514_x45rdZ6VhbJbNS9kfB0kszLb6fczuaB236WNhm9xF35XYnO-oKklKkhQIW5Daf"   # this can be either "false" or a discord webhook address, 

# disable announcing? clear out the master by uncommenting this (your server will not be listed in the serverlist if you uncomment this!)
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam (don't forget, Social Club is a third party probvider too!)?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000131e96753 group.admin # add the admin to the group

add_ace group.admin easyadmin allow	                 # allow all commands for admins

add_ace group.moderator easyadmin.kick allow		 # allow kicking
add_ace group.moderator easyadmin.spectate allow         # allow spectating
add_ace group.moderator easyadmin.freeze allow         # allow freezing
add_ace group.moderator easyadmin.ban allow	 # disallow banning
add_ace group.moderator easyadmin.unban allow		 # also disallow unbanning

add_principal identifier.steam:110000131e96753 group.admin #OfficerScentral
add_principal identifier.steam:11000010726bec0 group.admin  #LucasNash
add_principal identifier.steam:110000133566040 group.admin #Jordan M.
#add_principal identifier.steam:11000011babb636 group.admin  #Russ
add_principal identifier.steam:1100001048b0d98 group.admin  #Torchie 
add_principal identifier.steam:110000109902fac group.admin   #TJ
add_principal identifier.steam:11000010bc64f78 group.admin   #Mateo
add_principal identifier.steam:11000011530fdae group.admin   #Reftor
add_principal identifier.steam:11000013289785c group.admin   #Noah
add_principal identifier.steam:110000112589c54 group.admin   #J.Smith
add_principal identifier.steam:11000010ff7c5f8 group.admin   #J.Herrlin




add_ace group.admin fax allow               # allow all commands for FAXES Script admins 
add_ace group.moderator fax allow           # allow all commands for FAXES Script moderators
add_ace group.moderator fax.cmds deny	    # disallow FAXES Script Perms for moderators

add_principal identifier.steam:110000131e96753 group.admin #OfficerScentral
#add_principal identifier.steam:11000010726bec0 group.admin  #LucasNash
add_principal identifier.steam:110000133566040 group.admin #Jordan M.
#add_principal identifier.steam:11000011babb636 group.admin  #Russ
add_principal identifier.steam:1100001048b0d98 group.admin  #Torchie
add_principal identifier.steam:110000109902fac group.admin   #TJ

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey 9ux8ival32raw70durptt26x5fnxaq3s

restart sessionmanager